.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #AEEEEE; /* Azul turquesa */
}
tr:nth-child(even) {
    background-color: #00CED1; /* Azul turquesa */
}
tr:nth-child(odd) {
    background-color: #AFEEEE; /* Otro tono de azul turquesa */
}
.boton-container {
    text-align: center; /* Centrar elementos hijos */
}
.boton {
    background-color: #FF69B4; /* Palo de rosa */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h2{
    text-align:center;
}
body{
    background-image: url('C:\\Users\\Lucho\\OneDrive - Tecnologico de Antioquia Institucion Universitaria\\Documents\\Ingenieria\\Semestre III\\Construccion de Software II\\Taller 3\\Recursos\\cuerpo.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:repeat;
}